/* Top Of Page */
#topcontainer {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 0px;
  overflow: auto;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

#TaylorJohnsonbox {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}
nav {
  float: right;
  margin-top: 25px;
  margin-right: 15px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}
/* Body Container */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: url("/Users/taylorj/Desktop/Homework1/Assets /images/pink_rice/pink_rice.png");
}

* {
  box-sizing: border-box;
}
#bodycontainer {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
}
.bodycontainerclass {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}
.img {
  float: left;
  padding: 12px;
}
.MiddleBox {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
}

h1,
h2,
p {
  margin-bottom: 30px;
  line-height: 30px;
}

h1,
h2 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2 {
  font-size: 22px;
}

p:last-child {
  margin-bottom: 0;
}
footer {
  padding: 30px;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
}

h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

/* Portfolio Tab */

.game img {
  width: 100%;
  height: 70%;
  border: 0 none;
  opacity: 0.9;
}

.game:nth-child(even) {
  margin-right: 40px;
}

.game {
  position: relative;
  float: left;
  margin: 20px 0 25px;
  overflow: auto;
  width: 100px;
  height: 100px;
}
#pimage {
  float: left;
  width: 35%;
  height: 100%;
  margin-top: 10px;
  margin-right: 32px;
}

h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}
