/* portfolio styling */

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -30px;
}

body {
  background: url("/Users/taylorj/Documents/Homework/Bootstrap Portfolio/Assets /images/background image.jpg")
    no-repeat center center fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100%;
}
header {
  border-bottom: 2px solid #cccccc;
  background-color: #ffffff;
  font-family: "Georgia", Times, Times New Roman, serif;
  padding: 0px;
  margin: 0px;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #ffffff;
  padding: 0px 115px;
  margin: 0px;
  text-decoration: none;
}

li {
  float: right;
  text-decoration: none;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #777777;
  padding: 40px;
  padding-left: 0px;
}

.active {
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 36px;
  padding-left: 40px;
}

.main {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  min-height: 100%;
  width: 75%;
  margin: 40px auto;
  color: #777777;
  background-color: #ffffff;
  padding: 50px;
  overflow: hidden;
}
.main h1 {
  color: #4aaaa5;
  font-family: "Georgia", Times, Times New Roman, serif;
}
.main hr {
  border-top: 2px solid #cccccc;
}

/* footer */
footer {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #666666;
  border-top: 10px solid #4aaaa5;
  color: #cccccc;
  text-align: center;
  padding: 40px;
  margin: 0;
}

/* index styling */

#imgMain {
  width: 30%;
  height: 30%;
  margin: 0px;
  padding: 0px;
}
#main {
  margin: 20px;
  min-height: 100%;
  overflow: hidden;
}
#main p {
  width: 60%;
  float: right;
  min-height: 100%;
}

/* Portfolio Page */

.container {
  margin: 20px 0px;
  padding: 0px;
  width: 100%;
}
.figGallery {
  margin: 0px;
  padding: 0px;
  width: 49%;
  height: 49%;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.imgGallery {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: block;
  border-radius: 2.5%;
  border: 2px solid #cccccc;
}
.imgText {
  color: white;
  background-color: #4aaaa5;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 15%;
  padding: 20px;
  font-size: 16px;
}
.textClass {
  color: white;
  background-color: #4aaaa5;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  width: 100%;
}
.float {
  float: right;
}

/* contact page */

form {
  padding: 20px 0px;
}
input,
textarea {
  width: 100%;
  margin: 20px 0px;
}
input[type="submit"] {
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 10px;
  width: 10%;
  text-decoration: none;
}
